version: "3.9"

services:
  mongodb:
    image: mongo:6.0
    container_name: distrophile-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password

  redis:
    image: redis:7.0
    container_name: distrophile-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
  

volumes:
  mongo_data:
  redis_data:
